{
  "env": {
    "jest": true
  },
  "extends": "airbnb-base",
  "rules": {
    "class-methods-use-this": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-plusplus": "off",
    "no-prototype-builtins": "off",
    "no-return-assign": "off",
    "import/no-cycle": "off",
    "import/no-named-as-default": "off",
    "import/no-named-as-default-member": "off",
    "arrow-parens": "off",
    "no-confusing-arrow": "off",
    "func-names": "off",
    "function-paren-newline": "off",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  }
}
